header{
    height: 100vh;
    padding-top: 1.6rem;
    overflow: hidden;
}

.header__container{
    text-align: center;
    height: 100%;
    position: relative;
}

.cta{
    margin-top: 2.5rem;
    display: flex;
    gap: 1.2rem;
    justify-content: center;
}

.programmer-img{
    width: 390px;
margin-left: 33%;
position: absolute;
margin-top: 4rem;
border-radius: 12rem 12rem 0 0;
}

.header__socials{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.8rem;
    position: absolute;
    left: 0;
    bottom: 3rem;
    font-size: 22px;
}

.scroll__down{
    position: absolute;
    right: -2.3rem;
    bottom: 5rem;
    transform: rotate(90deg);
    font-weight: 220;
    font-size: 1.0rem;
}

@media screen and (max-width:1024px){
header{
    height: 68vh;
}

.programmer-img{
width: 200px;
}
}

@media screen and (max-width:600px){
header{
    height: 100vh;
}

.header__socials,.scroll__down{
    display: none;
}
}